* {
	padding: 0;
	border: none;
	margin: 0;
	box-sizing: border-box;
}

section.char {
	display: flex;
	overflow: hidden;
	border-radius: 1rem;
	background-color: rgb(70, 70, 70);
	flex: 40%;
}

img.char__img {
	max-width: 185px;
}

div.char__info {
	padding: 1rem;
}

div.char__info h2.info__name,
div.char__info p.info__status,
div.info__location p.location__title,
div.info__first-seen a.first-seen__anchor,
div.info__first-seen p.first-seen__title,
div.info__location {
	text-align: left;
}

div.char__info h2.info__name {
	font-size: 1.5rem;
}

div.char__info p.info__status,
div.info__location a.location__anchor,
div.info__first-seen a.first-seen__anchor {
	font-size: 1rem;
}

span.status__condition {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: gray;
	border-radius: 50%;
	margin-right: 0.5rem;
}

span.status__condition--alive {
	background-color: green;
}

span.status__condition--dead {
	background-color: red;
}

div.char__info div.info__first-seen,
div.char__info div.info__location {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

div.char__info div.info__location {
	margin: 1rem 0;
}

div.info__location p.location__title,
div.info__first-seen p.first-seen__title {
	color: gray;
	font-size: 0.8rem;
}

div.info__location a.location__anchor,
div.info__first-seen a.first-seen__anchor {
	text-decoration: none;
	color: white;
}
